:where(html) {
  /* Red */
  --red:    hsl(0 78% 54%);
  --red-hue: 0;
  --red-0:  hsl(0 80% 6%);
  --red-5:  hsl(0 79% 8%);
  --red-10: hsl(0 78% 11%);
  --red-15: hsl(0 77% 14%);
  --red-20: hsl(0 77% 17%);
  --red-25: hsl(0 76% 22%);
  --red-30: hsl(0 76% 27%);
  --red-35: hsl(0 77% 33%);
  --red-40: hsl(0 77% 39%);
  --red-45: hsl(0 78% 46%);
  --red-50: hsl(0 78% 54%);
  --red-55: hsl(0 79% 61%);
  --red-60: hsl(0 80% 68%);
  --red-65: hsl(0 81% 74%);
  --red-70: hsl(0 82% 79%);
  --red-75: hsl(0 82% 84%);
  --red-80: hsl(0 83% 88%);
  --red-85: hsl(0 84% 92%);
  --red-90: hsl(0 84% 95%);
  --red-95: hsl(0 85% 97%);
  --red-100: hsl(0 85% 99%);
  /* Brown */
  --brown:    hsl(14 54% 43%);
  --brown-hue: 14;
  --brown-0:  hsl(10 53% 6%);
  --brown-5:  hsl(11 53% 8%);
  --brown-10: hsl(11 53% 11%);
  --brown-15: hsl(12 53% 14%);
  --brown-20: hsl(13 53% 17%);
  --brown-25: hsl(13 53% 21%);
  --brown-30: hsl(13 54% 24%);
  --brown-35: hsl(14 54% 28%);
  --brown-40: hsl(14 54% 33%);
  --brown-45: hsl(14 54% 38%);
  --brown-50: hsl(14 54% 43%);
  --brown-55: hsl(14 54% 49%);
  --brown-60: hsl(14 54% 56%);
  --brown-65: hsl(15 55% 63%);
  --brown-70: hsl(15 55% 70%);
  --brown-75: hsl(15 55% 77%);
  --brown-80: hsl(14 56% 84%);
  --brown-85: hsl(14 56% 89%);
  --brown-90: hsl(14 57% 93%);
  --brown-95: hsl(14 57% 96%);
  --brown-100: hsl(14 58% 98%);
  /* Orange */
  --orange:    hsl(26 98% 49%);
  --orange-hue: 26;
  --orange-0:  hsl(27 100% 6%);
  --orange-5:  hsl(27 100% 8%);
  --orange-10: hsl(26 100% 11%);
  --orange-15: hsl(26 100% 15%);
  --orange-20: hsl(26 100% 18%);
  --orange-25: hsl(26 100% 22%);
  --orange-30: hsl(26 99% 27%);
  --orange-35: hsl(26 99% 32%);
  --orange-40: hsl(26 99% 38%);
  --orange-45: hsl(26 98% 43%);
  --orange-50: hsl(26 98% 49%);
  --orange-55: hsl(26 97% 55%);
  --orange-60: hsl(26 96% 62%);
  --orange-65: hsl(26 95% 68%);
  --orange-70: hsl(27 94% 73%);
  --orange-75: hsl(27 93% 79%);
  --orange-80: hsl(28 92% 84%);
  --orange-85: hsl(28 91% 88%);
  --orange-90: hsl(29 90% 91%);
  --orange-95: hsl(30 88% 95%);
  --orange-100: hsl(32 87% 97%);
  /* Yellow */
  --yellow:    hsl(41 94% 49%);
  --yellow-hue: 41;
  --yellow-0:  hsl(30 99% 5%);
  --yellow-5:  hsl(31 99% 8%);
  --yellow-10: hsl(33 99% 11%);
  --yellow-15: hsl(34 99% 14%);
  --yellow-20: hsl(35 99% 18%);
  --yellow-25: hsl(36 98% 22%);
  --yellow-30: hsl(37 98% 27%);
  --yellow-35: hsl(38 97% 32%);
  --yellow-40: hsl(39 96% 38%);
  --yellow-45: hsl(40 95% 44%);
  --yellow-50: hsl(41 94% 49%);
  --yellow-55: hsl(41 93% 55%);
  --yellow-60: hsl(42 92% 61%);
  --yellow-65: hsl(43 90% 67%);
  --yellow-70: hsl(43 88% 73%);
  --yellow-75: hsl(44 87% 78%);
  --yellow-80: hsl(44 85% 83%);
  --yellow-85: hsl(44 84% 87%);
  --yellow-90: hsl(45 82% 91%);
  --yellow-95: hsl(45 82% 94%);
  --yellow-100: hsl(45 82% 96%);
  /* Olive */
  --olive:    hsl(68 71% 41%);
  --olive-hue: 68;
  --olive-0:  hsl(72 76% 4%);
  --olive-5:  hsl(72 77% 7%);
  --olive-10: hsl(71 78% 9%);
  --olive-15: hsl(71 79% 12%);
  --olive-20: hsl(70 79% 16%);
  --olive-25: hsl(70 79% 19%);
  --olive-30: hsl(69 79% 23%);
  --olive-35: hsl(69 78% 27%);
  --olive-40: hsl(69 77% 31%);
  --olive-45: hsl(68 75% 36%);
  --olive-50: hsl(68 71% 41%);
  --olive-55: hsl(67 64% 47%);
  --olive-60: hsl(67 57% 53%);
  --olive-65: hsl(66 53% 59%);
  --olive-70: hsl(66 53% 66%);
  --olive-75: hsl(65 53% 72%);
  --olive-80: hsl(65 54% 78%);
  --olive-85: hsl(65 56% 84%);
  --olive-90: hsl(64 58% 89%);
  --olive-95: hsl(64 60% 92%);
  --olive-100: hsl(64 62% 95%);
  /* Green */
  --green:    hsl(120 59% 45%);
  --green-hue: 120;
  --green-0:  hsl(125 67% 5%);
  --green-5:  hsl(124 68% 7%);
  --green-10: hsl(123 69% 10%);
  --green-15: hsl(123 70% 12%);
  --green-20: hsl(122 70% 16%);
  --green-25: hsl(122 70% 19%);
  --green-30: hsl(121 70% 23%);
  --green-35: hsl(121 69% 28%);
  --green-40: hsl(120 67% 33%);
  --green-45: hsl(120 64% 39%);
  --green-50: hsl(120 59% 45%);
  --green-55: hsl(119 53% 51%);
  --green-60: hsl(119 52% 58%);
  --green-65: hsl(119 52% 65%);
  --green-70: hsl(119 53% 72%);
  --green-75: hsl(119 56% 78%);
  --green-80: hsl(119 58% 84%);
  --green-85: hsl(119 61% 88%);
  --green-90: hsl(120 64% 92%);
  --green-95: hsl(120 67% 95%);
  --green-100: hsl(120 70% 97%);
  /* Teal */
  --teal:    hsl(165 69% 42%);
  --teal-hue: 165;
  --teal-0:  hsl(165 67% 5%);
  --teal-5:  hsl(165 69% 7%);
  --teal-10: hsl(165 71% 10%);
  --teal-15: hsl(165 72% 13%);
  --teal-20: hsl(165 74% 16%);
  --teal-25: hsl(165 75% 19%);
  --teal-30: hsl(165 76% 23%);
  --teal-35: hsl(165 76% 27%);
  --teal-40: hsl(165 76% 31%);
  --teal-45: hsl(165 74% 37%);
  --teal-50: hsl(165 69% 42%);
  --teal-55: hsl(165 60% 49%);
  --teal-60: hsl(165 55% 56%);
  --teal-65: hsl(165 54% 64%);
  --teal-70: hsl(165 54% 72%);
  --teal-75: hsl(165 55% 80%);
  --teal-80: hsl(165 57% 86%);
  --teal-85: hsl(165 59% 90%);
  --teal-90: hsl(165 60% 94%);
  --teal-95: hsl(165 63% 96%);
  --teal-100: hsl(165 65% 98%);
  /* Blue */
  --blue:    hsl(202 85% 48%);
  --blue-hue: 202;
  --blue-0:  hsl(218 88% 7%);
  --blue-5:  hsl(215 87% 9%);
  --blue-10: hsl(213 86% 12%);
  --blue-15: hsl(211 86% 15%);
  --blue-20: hsl(209 85% 19%);
  --blue-25: hsl(207 85% 22%);
  --blue-30: hsl(206 85% 26%);
  --blue-35: hsl(205 85% 31%);
  --blue-40: hsl(204 85% 36%);
  --blue-45: hsl(203 85% 42%);
  --blue-50: hsl(202 85% 48%);
  --blue-55: hsl(202 86% 55%);
  --blue-60: hsl(201 86% 62%);
  --blue-65: hsl(201 87% 69%);
  --blue-70: hsl(201 88% 76%);
  --blue-75: hsl(200 88% 82%);
  --blue-80: hsl(200 89% 87%);
  --blue-85: hsl(200 90% 91%);
  --blue-90: hsl(200 91% 94%);
  --blue-95: hsl(200 92% 96%);
  --blue-100: hsl(200 93% 98%);
  /* Indigo */
  --indigo:    hsl(232 78% 55%);
  --indigo-hue: 232;
  --indigo-0:  hsl(236 50% 9%);
  --indigo-5:  hsl(235 50% 12%);
  --indigo-10: hsl(235 51% 16%);
  --indigo-15: hsl(234 53% 20%);
  --indigo-20: hsl(234 55% 24%);
  --indigo-25: hsl(233 57% 28%);
  --indigo-30: hsl(233 61% 33%);
  --indigo-35: hsl(232 65% 38%);
  --indigo-40: hsl(232 70% 43%);
  --indigo-45: hsl(232 75% 49%);
  --indigo-50: hsl(232 78% 55%);
  --indigo-55: hsl(231 80% 62%);
  --indigo-60: hsl(231 82% 68%);
  --indigo-65: hsl(231 83% 75%);
  --indigo-70: hsl(231 84% 80%);
  --indigo-75: hsl(230 84% 85%);
  --indigo-80: hsl(230 84% 90%);
  --indigo-85: hsl(230 83% 93%);
  --indigo-90: hsl(230 83% 96%);
  --indigo-95: hsl(230 82% 98%);
  --indigo-100: hsl(230 81% 99%);
  /* violet */
  --violet:    hsl(259 84% 62%);
  --violet-hue: 259;
  --violet-0:  hsl(271 75% 8%);
  --violet-5:  hsl(269 73% 11%);
  --violet-10: hsl(268 72% 15%);
  --violet-15: hsl(266 71% 19%);
  --violet-20: hsl(265 70% 24%);
  --violet-25: hsl(264 69% 28%);
  --violet-30: hsl(263 68% 34%);
  --violet-35: hsl(262 69% 40%);
  --violet-40: hsl(261 71% 47%);
  --violet-45: hsl(260 77% 54%);
  --violet-50: hsl(259 84% 62%);
  --violet-55: hsl(258 88% 69%);
  --violet-60: hsl(258 90% 75%);
  --violet-65: hsl(257 92% 81%);
  --violet-70: hsl(257 93% 86%);
  --violet-75: hsl(256 93% 90%);
  --violet-80: hsl(256 94% 93%);
  --violet-85: hsl(255 94% 95%);
  --violet-90: hsl(255 94% 96%);
  --violet-95: hsl(255 93% 97%);
  --violet-100: hsl(255 93% 98%);
  /* Purple */
  --purple:    hsl(280 76% 53%);
  --purple-hue: 280;
  --purple-0:  hsl(280 81% 6%);
  --purple-5:  hsl(280 78% 8%);
  --purple-10: hsl(280 75% 11%);
  --purple-15: hsl(280 72% 14%);
  --purple-20: hsl(280 69% 18%);
  --purple-25: hsl(280 67% 22%);
  --purple-30: hsl(280 66% 27%);
  --purple-35: hsl(280 66% 33%);
  --purple-40: hsl(280 68% 39%);
  --purple-45: hsl(280 73% 46%);
  --purple-50: hsl(280 76% 53%);
  --purple-55: hsl(280 79% 60%);
  --purple-60: hsl(280 80% 67%);
  --purple-65: hsl(280 81% 73%);
  --purple-70: hsl(280 82% 79%);
  --purple-75: hsl(280 82% 84%);
  --purple-80: hsl(280 82% 89%);
  --purple-85: hsl(280 82% 92%);
  --purple-90: hsl(280 81% 95%);
  --purple-95: hsl(280 81% 97%);
  --purple-100: hsl(280 80% 98%);
  /* Pink */
  --pink:    hsl(321 80% 46%);
  --pink-hue: 321;
  --pink-0:  hsl(322 76% 5%);
  --pink-5:  hsl(322 77% 7%);
  --pink-10: hsl(321 79% 9%);
  --pink-15: hsl(321 80% 12%);
  --pink-20: hsl(321 81% 15%);
  --pink-25: hsl(321 82% 19%);
  --pink-30: hsl(321 82% 23%);
  --pink-35: hsl(321 82% 28%);
  --pink-40: hsl(321 82% 33%);
  --pink-45: hsl(321 81% 39%);
  --pink-50: hsl(321 80% 46%);
  --pink-55: hsl(321 76% 53%);
  --pink-60: hsl(321 72% 61%);
  --pink-65: hsl(321 72% 69%);
  --pink-70: hsl(320 73% 76%);
  --pink-75: hsl(320 75% 82%);
  --pink-80: hsl(320 78% 87%);
  --pink-85: hsl(320 80% 91%);
  --pink-90: hsl(319 83% 94%);
  --pink-95: hsl(319 86% 96%);
  --pink-100: hsl(318 89% 98%);
  /* Maroon */
  --maroon:    hsl(346 77% 46%);
  --maroon-hue: 346;
  --maroon-0:  hsl(346 76% 6%);
  --maroon-5:  hsl(346 75% 8%);
  --maroon-10: hsl(346 75% 10%);
  --maroon-15: hsl(346 74% 12%);
  --maroon-20: hsl(346 74% 15%);
  --maroon-25: hsl(346 74% 19%);
  --maroon-30: hsl(346 74% 23%);
  --maroon-35: hsl(346 74% 28%);
  --maroon-40: hsl(346 75% 33%);
  --maroon-45: hsl(346 76% 39%);
  --maroon-50: hsl(346 77% 46%);
  --maroon-55: hsl(346 78% 53%);
  --maroon-60: hsl(346 80% 60%);
  --maroon-65: hsl(346 82% 67%);
  --maroon-70: hsl(346 83% 74%);
  --maroon-75: hsl(346 85% 80%);
  --maroon-80: hsl(346 87% 86%);
  --maroon-85: hsl(346 88% 90%);
  --maroon-90: hsl(346 89% 94%);
  --maroon-95: hsl(346 89% 96%);
  --maroon-100: hsl(346 90% 98%);
  /* Grey Red */
  --grey-red:    hsl(4 6% 55%);
  --grey-red-hue: 4;
  --grey-red-0:  hsl(4 6% 5%);
  --grey-red-5:  hsl(4 6% 10%);
  --grey-red-10: hsl(4 6% 15%);
  --grey-red-15: hsl(4 6% 20%);
  --grey-red-20: hsl(4 6% 25%);
  --grey-red-25: hsl(4 6% 30%);
  --grey-red-30: hsl(4 6% 35%);
  --grey-red-35: hsl(4 6% 40%);
  --grey-red-40: hsl(4 6% 45%);
  --grey-red-45: hsl(4 6% 50%);
  --grey-red-50: hsl(4 6% 55%);
  --grey-red-55: hsl(4 6% 60%);
  --grey-red-60: hsl(4 6% 65%);
  --grey-red-65: hsl(4 6% 70%);
  --grey-red-70: hsl(4 6% 74%);
  --grey-red-75: hsl(4 6% 79%);
  --grey-red-80: hsl(4 6% 83%);
  --grey-red-85: hsl(4 6% 87%);
  --grey-red-90: hsl(4 6% 91%);
  --grey-red-95: hsl(4 6% 95%);
  --grey-red-100: hsl(4 6% 98%);
  /* Grey Yellow */
  --grey-yellow:    hsl(50 5% 54%);
  --grey-yellow-hue: 50;
  --grey-yellow-0:  hsl(50 5% 5%);
  --grey-yellow-5:  hsl(50 5% 10%);
  --grey-yellow-10: hsl(50 5% 14%);
  --grey-yellow-15: hsl(50 5% 19%);
  --grey-yellow-20: hsl(50 5% 24%);
  --grey-yellow-25: hsl(50 5% 29%);
  --grey-yellow-30: hsl(50 5% 33%);
  --grey-yellow-35: hsl(50 5% 39%);
  --grey-yellow-40: hsl(50 5% 44%);
  --grey-yellow-45: hsl(50 5% 49%);
  --grey-yellow-50: hsl(50 5% 54%);
  --grey-yellow-55: hsl(50 5% 59%);
  --grey-yellow-60: hsl(50 5% 64%);
  --grey-yellow-65: hsl(50 5% 69%);
  --grey-yellow-70: hsl(50 5% 74%);
  --grey-yellow-75: hsl(50 5% 78%);
  --grey-yellow-80: hsl(50 5% 83%);
  --grey-yellow-85: hsl(50 5% 87%);
  --grey-yellow-90: hsl(50 5% 91%);
  --grey-yellow-95: hsl(50 5% 94%);
  --grey-yellow-100: hsl(50 5% 98%);
  /* Grey Green */
  --grey-green:    hsl(100 4% 53%);
  --grey-green-hue: 100;
  --grey-green-0:  hsl(100 4% 5%);
  --grey-green-5:  hsl(100 4% 9%);
  --grey-green-10: hsl(100 4% 13%);
  --grey-green-15: hsl(100 4% 17%);
  --grey-green-20: hsl(100 4% 21%);
  --grey-green-25: hsl(100 4% 26%);
  --grey-green-30: hsl(100 4% 31%);
  --grey-green-35: hsl(100 4% 37%);
  --grey-green-40: hsl(100 4% 42%);
  --grey-green-45: hsl(100 4% 48%);
  --grey-green-50: hsl(100 4% 53%);
  --grey-green-55: hsl(100 4% 59%);
  --grey-green-60: hsl(100 4% 64%);
  --grey-green-65: hsl(100 4% 70%);
  --grey-green-70: hsl(100 4% 75%);
  --grey-green-75: hsl(100 4% 80%);
  --grey-green-80: hsl(100 4% 84%);
  --grey-green-85: hsl(100 4% 88%);
  --grey-green-90: hsl(100 4% 92%);
  --grey-green-95: hsl(100 4% 95%);
  --grey-green-100: hsl(100 4% 98%);
  /* Grey Teal */
  --grey-teal:    hsl(150 5% 54%);
  --grey-teal-hue: 150;
  --grey-teal-0:  hsl(150 5% 5%);
  --grey-teal-5:  hsl(150 5% 10%);
  --grey-teal-10: hsl(150 5% 14%);
  --grey-teal-15: hsl(150 5% 19%);
  --grey-teal-20: hsl(150 5% 24%);
  --grey-teal-25: hsl(150 5% 29%);
  --grey-teal-30: hsl(150 5% 34%);
  --grey-teal-35: hsl(150 5% 39%);
  --grey-teal-40: hsl(150 5% 44%);
  --grey-teal-45: hsl(150 5% 49%);
  --grey-teal-50: hsl(150 5% 54%);
  --grey-teal-55: hsl(150 5% 59%);
  --grey-teal-60: hsl(150 5% 64%);
  --grey-teal-65: hsl(150 5% 69%);
  --grey-teal-70: hsl(150 5% 73%);
  --grey-teal-75: hsl(150 5% 78%);
  --grey-teal-80: hsl(150 5% 82%);
  --grey-teal-85: hsl(150 5% 87%);
  --grey-teal-90: hsl(150 5% 91%);
  --grey-teal-95: hsl(150 5% 94%);
  --grey-teal-100: hsl(150 5% 98%);
  /* Grey Blue */
  --grey-blue:    hsl(200 7% 55%);
  --grey-blue-hue: 200;
  --grey-blue-0:  hsl(200 7% 5%);
  --grey-blue-5:  hsl(200 7% 9%);
  --grey-blue-10: hsl(200 7% 14%);
  --grey-blue-15: hsl(200 7% 18%);
  --grey-blue-20: hsl(200 7% 23%);
  --grey-blue-25: hsl(200 7% 28%);
  --grey-blue-30: hsl(200 7% 34%);
  --grey-blue-35: hsl(200 7% 39%);
  --grey-blue-40: hsl(200 7% 45%);
  --grey-blue-45: hsl(200 7% 50%);
  --grey-blue-50: hsl(200 7% 55%);
  --grey-blue-55: hsl(200 7% 61%);
  --grey-blue-60: hsl(200 7% 66%);
  --grey-blue-65: hsl(200 7% 71%);
  --grey-blue-70: hsl(200 7% 76%);
  --grey-blue-75: hsl(200 7% 81%);
  --grey-blue-80: hsl(200 7% 85%);
  --grey-blue-85: hsl(200 7% 89%);
  --grey-blue-90: hsl(200 7% 92%);
  --grey-blue-95: hsl(200 7% 96%);
  --grey-blue-100: hsl(200 7% 98%);
  /* Grey Violet */
  --grey-violet:    hsl(250 7% 56%);
  --grey-violet-hue: 250;
  --grey-violet-0:  hsl(250 7% 5%);
  --grey-violet-5:  hsl(250 7% 9%);
  --grey-violet-10: hsl(250 7% 14%);
  --grey-violet-15: hsl(250 7% 18%);
  --grey-violet-20: hsl(250 7% 23%);
  --grey-violet-25: hsl(250 7% 28%);
  --grey-violet-30: hsl(250 7% 33%);
  --grey-violet-35: hsl(250 7% 39%);
  --grey-violet-40: hsl(250 7% 44%);
  --grey-violet-45: hsl(250 7% 50%);
  --grey-violet-50: hsl(250 7% 56%);
  --grey-violet-55: hsl(250 7% 61%);
  --grey-violet-60: hsl(250 7% 67%);
  --grey-violet-65: hsl(250 7% 72%);
  --grey-violet-70: hsl(250 7% 77%);
  --grey-violet-75: hsl(250 7% 82%);
  --grey-violet-80: hsl(250 7% 86%);
  --grey-violet-85: hsl(250 7% 90%);
  --grey-violet-90: hsl(250 7% 93%);
  --grey-violet-95: hsl(250 7% 96%);
  --grey-violet-100: hsl(250 7% 98%);
  /* Grey Pink */
  --grey-pink:    hsl(300 5% 57%);
  --grey-pink-hue: 300;
  --grey-pink-0:  hsl(300 5% 5%);
  --grey-pink-5:  hsl(300 5% 9%);
  --grey-pink-10: hsl(300 5% 13%);
  --grey-pink-15: hsl(300 5% 18%);
  --grey-pink-20: hsl(300 5% 23%);
  --grey-pink-25: hsl(300 5% 28%);
  --grey-pink-30: hsl(300 5% 33%);
  --grey-pink-35: hsl(300 5% 39%);
  --grey-pink-40: hsl(300 5% 45%);
  --grey-pink-45: hsl(300 5% 51%);
  --grey-pink-50: hsl(300 5% 57%);
  --grey-pink-55: hsl(300 5% 63%);
  --grey-pink-60: hsl(300 5% 68%);
  --grey-pink-65: hsl(300 5% 74%);
  --grey-pink-70: hsl(300 5% 79%);
  --grey-pink-75: hsl(300 5% 83%);
  --grey-pink-80: hsl(300 5% 87%);
  --grey-pink-85: hsl(300 5% 91%);
  --grey-pink-90: hsl(300 5% 94%);
  --grey-pink-95: hsl(300 5% 96%);
  --grey-pink-100: hsl(300 5% 98%);
  /* Grey Maroon */
  --grey-maroon:    hsl(350 6% 51%);
  --grey-maroon-hue: 350;
  --grey-maroon-0:  hsl(350 6% 5%);
  --grey-maroon-5:  hsl(350 6% 8%);
  --grey-maroon-10: hsl(350 6% 12%);
  --grey-maroon-15: hsl(350 6% 16%);
  --grey-maroon-20: hsl(350 6% 20%);
  --grey-maroon-25: hsl(350 6% 24%);
  --grey-maroon-30: hsl(350 6% 29%);
  --grey-maroon-35: hsl(350 6% 34%);
  --grey-maroon-40: hsl(350 6% 39%);
  --grey-maroon-45: hsl(350 6% 45%);
  --grey-maroon-50: hsl(350 6% 51%);
  --grey-maroon-55: hsl(350 6% 57%);
  --grey-maroon-60: hsl(350 6% 63%);
  --grey-maroon-65: hsl(350 6% 69%);
  --grey-maroon-70: hsl(350 6% 75%);
  --grey-maroon-75: hsl(350 6% 81%);
  --grey-maroon-80: hsl(350 6% 86%);
  --grey-maroon-85: hsl(350 6% 90%);
  --grey-maroon-90: hsl(350 6% 94%);
  --grey-maroon-95: hsl(350 6% 96%);
  --grey-maroon-100: hsl(350 6% 98%);

  /* Grey -> Grey Violet */
  // $grey-hue: 210;
  $grey-hue: 210;
  $grey-sat: 10%;
  --grey:    hsl(250 7% 56%);
  --grey-hue: #{$grey-hue};
  --grey-sat: #{$grey-sat};
  --grey-0:   hsl(#{$grey-hue} #{$grey-sat} 5%);
  --grey-5:   hsl(#{$grey-hue} #{$grey-sat} 9%);
  --grey-10:  hsl(#{$grey-hue} #{$grey-sat} 14%);
  --grey-15:  hsl(#{$grey-hue} #{$grey-sat} 18%);
  --grey-20:  hsl(#{$grey-hue} #{$grey-sat} 23%);
  --grey-25:  hsl(#{$grey-hue} #{$grey-sat} 28%);
  --grey-30:  hsl(#{$grey-hue} #{$grey-sat} 33%);
  --grey-35:  hsl(#{$grey-hue} #{$grey-sat} 39%);
  --grey-40:  hsl(#{$grey-hue} #{$grey-sat} 44%);
  --grey-45:  hsl(#{$grey-hue} #{$grey-sat} 50%);
  --grey-50:  hsl(#{$grey-hue} #{$grey-sat} 56%);
  --grey-55:  hsl(#{$grey-hue} #{$grey-sat} 61%);
  --grey-60:  hsl(#{$grey-hue} #{$grey-sat} 67%);
  --grey-65:  hsl(#{$grey-hue} #{$grey-sat} 72%);
  --grey-70:  hsl(#{$grey-hue} #{$grey-sat} 77%);
  --grey-75:  hsl(#{$grey-hue} #{$grey-sat} 82%);
  --grey-80:  hsl(#{$grey-hue} #{$grey-sat} 86%);
  --grey-85:  hsl(#{$grey-hue} #{$grey-sat} 90%);
  --grey-90:  hsl(#{$grey-hue} #{$grey-sat} 93%);
  --grey-95:  hsl(#{$grey-hue} #{$grey-sat} 96%);
  --grey-100: hsl(#{$grey-hue} #{$grey-sat} 98%);

}