@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import '@abw/react-night-and-day/styles/night-and-day.css';

$brand-color: 'violet';
$dark-theme: '#site.dark';
@import '@abw/badger-css/styles/badger.scss';
@import "config/all.scss";
@import "props/all.scss";
@import "modules/all.scss";

#{$switch-input-types} {
  input {
    line-height: var(--line-height) !important;
    vertical-align: middle;
  }
}

div.field {
  margin-bottom: 1rem;
  label {
    display: block;
    font-size: 0.9rem;
  }
  input {
    width: 100%;
  }
}

.hover {
  cursor: pointer;
  &:hover,
  &:hover > * {
    color: var(--hover-text);
  }
}
.loading {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  font-size: 2rem;
}

dialog article {
  --shadow-color: rgba(0, 0, 0, 0.03);
  header {
    box-shadow: inset 0 -2px 8px var(--shadow-color);
  }
  footer {
    box-shadow: inset 0 2px 8px var(--shadow-color);
  }
}

.sr-only:not(:focus):not(:active), .invisible {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#{$dark-theme} {
  dialog article {
    --shadow-color: rgba(0, 0, 0, 0.04);
  }
}