:where(html) {
  /* blue */
  --blue:    hsl(202 77% 53%);
  --blue-hue: 202;
  --blue-0:  hsl(218 80% 8%);
  --blue-5:  hsl(215 77% 10%);
  --blue-10: hsl(213 75% 12%);
  --blue-15: hsl(211 73% 15%);
  --blue-20: hsl(209 72% 18%);
  --blue-25: hsl(207 71% 22%);
  --blue-30: hsl(206 71% 26%);
  --blue-35: hsl(205 72% 32%);
  --blue-40: hsl(204 73% 38%);
  --blue-45: hsl(203 75% 45%);
  --blue-50: hsl(202 77% 53%);
  --blue-55: hsl(202 79% 61%);
  --blue-60: hsl(201 82% 69%);
  --blue-65: hsl(201 84% 76%);
  --blue-70: hsl(201 86% 82%);
  --blue-75: hsl(200 88% 87%);
  --blue-80: hsl(200 89% 90%);
  --blue-85: hsl(200 90% 93%);
  --blue-90: hsl(200 91% 95%);
  --blue-95: hsl(200 91% 96%);
  --blue-100: hsl(200 91% 97%);
}