:where(html) {
  /* green */
  --green:    hsl(120 56% 57%);
  --green-hue: 120;
  --green-0:  hsl(125 67% 6%);
  --green-5:  hsl(124 65% 8%);
  --green-10: hsl(123 63% 10%);
  --green-15: hsl(123 61% 12%);
  --green-20: hsl(122 60% 16%);
  --green-25: hsl(122 58% 20%);
  --green-30: hsl(121 57% 25%);
  --green-35: hsl(121 56% 31%);
  --green-40: hsl(120 56% 38%);
  --green-45: hsl(120 55% 47%);
  --green-50: hsl(120 56% 57%);
  --green-55: hsl(119 56% 66%);
  --green-60: hsl(119 57% 73%);
  --green-65: hsl(119 58% 79%);
  --green-70: hsl(119 60% 84%);
  --green-75: hsl(119 61% 87%);
  --green-80: hsl(119 63% 90%);
  --green-85: hsl(119 66% 93%);
  --green-90: hsl(120 68% 95%);
  --green-95: hsl(120 70% 97%);
  --green-100: hsl(120 73% 98%);
}