:where(html) {
  /* indigo */
  --indigo:    hsl(232 72% 62%);
  --indigo-hue: 232;
  --indigo-0:  hsl(249 72% 9%);
  --indigo-5:  hsl(246 69% 12%);
  --indigo-10: hsl(244 66% 15%);
  --indigo-15: hsl(241 63% 19%);
  --indigo-20: hsl(239 60% 24%);
  --indigo-25: hsl(238 58% 28%);
  --indigo-30: hsl(236 56% 34%);
  --indigo-35: hsl(235 55% 40%);
  --indigo-40: hsl(234 56% 47%);
  --indigo-45: hsl(233 62% 55%);
  --indigo-50: hsl(232 72% 62%);
  --indigo-55: hsl(232 78% 70%);
  --indigo-60: hsl(231 83% 76%);
  --indigo-65: hsl(231 86% 82%);
  --indigo-70: hsl(231 88% 86%);
  --indigo-75: hsl(230 89% 90%);
  --indigo-80: hsl(230 90% 93%);
  --indigo-85: hsl(230 91% 95%);
  --indigo-90: hsl(230 92% 96%);
  --indigo-95: hsl(230 92% 97%);
  --indigo-100: hsl(230 92% 98%);
}