:where(html) {
  /* pink */
  --pink:    hsl(321 63% 48%);
  --pink-hue: 321;
  --pink-0:  hsl(322 76% 7%);
  --pink-5:  hsl(322 74% 8%);
  --pink-10: hsl(321 71% 10%);
  --pink-15: hsl(321 69% 12%);
  --pink-20: hsl(321 67% 15%);
  --pink-25: hsl(321 66% 18%);
  --pink-30: hsl(321 64% 22%);
  --pink-35: hsl(321 63% 27%);
  --pink-40: hsl(321 62% 33%);
  --pink-45: hsl(321 62% 40%);
  --pink-50: hsl(321 63% 48%);
  --pink-55: hsl(321 67% 57%);
  --pink-60: hsl(321 74% 66%);
  --pink-65: hsl(321 80% 74%);
  --pink-70: hsl(320 85% 81%);
  --pink-75: hsl(320 88% 86%);
  --pink-80: hsl(320 91% 90%);
  --pink-85: hsl(320 93% 93%);
  --pink-90: hsl(319 94% 96%);
  --pink-95: hsl(319 95% 97%);
  --pink-100: hsl(318 96% 98%);
}