:where(html) {
  /* red */
  --red:    hsl(0 80% 55%);
  --red-hue: 0;
  --red-0:  hsl(0 80% 9%);
  --red-5:  hsl(0 79% 10%);
  --red-10: hsl(0 79% 12%);
  --red-15: hsl(0 79% 14%);
  --red-20: hsl(0 78% 17%);
  --red-25: hsl(0 79% 21%);
  --red-30: hsl(0 79% 26%);
  --red-35: hsl(0 79% 32%);
  --red-40: hsl(0 79% 39%);
  --red-45: hsl(0 80% 47%);
  --red-50: hsl(0 80% 55%);
  --red-55: hsl(0 81% 63%);
  --red-60: hsl(0 82% 71%);
  --red-65: hsl(0 82% 77%);
  --red-70: hsl(0 83% 83%);
  --red-75: hsl(0 83% 87%);
  --red-80: hsl(0 84% 91%);
  --red-85: hsl(0 84% 94%);
  --red-90: hsl(0 85% 96%);
  --red-95: hsl(0 85% 97%);
  --red-100: hsl(0 85% 98%);
}