:where(html) {
  /* teal */
  --teal:    hsl(165 68% 45%);
  --teal-hue: 165;
  --teal-0:  hsl(165 76% 5%);
  --teal-5:  hsl(165 77% 7%);
  --teal-10: hsl(165 77% 9%);
  --teal-15: hsl(165 77% 11%);
  --teal-20: hsl(165 76% 14%);
  --teal-25: hsl(165 75% 17%);
  --teal-30: hsl(165 74% 21%);
  --teal-35: hsl(165 72% 25%);
  --teal-40: hsl(165 70% 31%);
  --teal-45: hsl(165 69% 37%);
  --teal-50: hsl(165 68% 45%);
  --teal-55: hsl(165 68% 53%);
  --teal-60: hsl(165 68% 62%);
  --teal-65: hsl(165 70% 70%);
  --teal-70: hsl(165 72% 77%);
  --teal-75: hsl(165 76% 83%);
  --teal-80: hsl(165 79% 87%);
  --teal-85: hsl(165 84% 91%);
  --teal-90: hsl(165 89% 93%);
  --teal-95: hsl(165 94% 95%);
  --teal-100: hsl(165 100% 97%);
}