:where(html) {
  /* violet */
  --violet:    hsl(259 84% 62%);
  --violet-hue: 259;
  --violet-0:  hsl(271 75% 8%);
  --violet-5:  hsl(269 73% 11%);
  --violet-10: hsl(268 72% 15%);
  --violet-15: hsl(266 71% 19%);
  --violet-20: hsl(265 70% 24%);
  --violet-25: hsl(264 69% 28%);
  --violet-30: hsl(263 68% 34%);
  --violet-35: hsl(262 69% 40%);
  --violet-40: hsl(261 71% 47%);
  --violet-45: hsl(260 77% 54%);
  --violet-50: hsl(259 84% 62%);
  --violet-55: hsl(258 88% 69%);
  --violet-60: hsl(258 90% 75%);
  --violet-65: hsl(257 92% 81%);
  --violet-70: hsl(257 93% 86%);
  --violet-75: hsl(256 93% 90%);
  --violet-80: hsl(256 94% 93%);
  --violet-85: hsl(255 94% 95%);
  --violet-90: hsl(255 94% 96%);
  --violet-95: hsl(255 93% 97%);
  --violet-100: hsl(255 93% 98%);
}