:where(html) {
  /* yellow */
  --yellow:    hsl(40 96% 52%);
  --yellow-hue: 40;
  --yellow-0:  hsl(21 93% 8%);
  --yellow-5:  hsl(24 94% 10%);
  --yellow-10: hsl(26 95% 12%);
  --yellow-15: hsl(29 96% 15%);
  --yellow-20: hsl(31 96% 18%);
  --yellow-25: hsl(33 96% 22%);
  --yellow-30: hsl(34 97% 27%);
  --yellow-35: hsl(36 97% 32%);
  --yellow-40: hsl(37 97% 38%);
  --yellow-45: hsl(38 96% 45%);
  --yellow-50: hsl(40 96% 52%);
  --yellow-55: hsl(41 95% 59%);
  --yellow-60: hsl(41 94% 66%);
  --yellow-65: hsl(42 93% 72%);
  --yellow-70: hsl(43 91% 78%);
  --yellow-75: hsl(44 89% 83%);
  --yellow-80: hsl(44 86% 87%);
  --yellow-85: hsl(44 83% 90%);
  --yellow-90: hsl(45 79% 93%);
  --yellow-95: hsl(45 74% 95%);
  --yellow-100: hsl(45 67% 97%);
}