// indigo
$indigo:      hsl(232 72% 62%) !default;
$indigo-hue:  232 !default;
$indigo-0:    hsl(249 72% 9%) !default;
$indigo-5:    hsl(246 69% 12%) !default;
$indigo-10:   hsl(244 66% 15%) !default;
$indigo-15:   hsl(241 63% 19%) !default;
$indigo-20:   hsl(239 60% 24%) !default;
$indigo-25:   hsl(238 58% 28%) !default;
$indigo-30:   hsl(236 56% 34%) !default;
$indigo-35:   hsl(235 55% 40%) !default;
$indigo-40:   hsl(234 56% 47%) !default;
$indigo-45:   hsl(233 62% 55%) !default;
$indigo-50:   hsl(232 72% 62%) !default;
$indigo-55:   hsl(232 78% 70%) !default;
$indigo-60:   hsl(231 83% 76%) !default;
$indigo-65:   hsl(231 86% 82%) !default;
$indigo-70:   hsl(231 88% 86%) !default;
$indigo-75:   hsl(230 89% 90%) !default;
$indigo-80:   hsl(230 90% 93%) !default;
$indigo-85:   hsl(230 91% 95%) !default;
$indigo-90:   hsl(230 92% 96%) !default;
$indigo-95:   hsl(230 92% 97%) !default;
$indigo-100:  hsl(230 92% 98%) !default;