// maroon
$maroon:      hsl(346 66% 48%) !default;
$maroon-hue:  346 !default;
$maroon-0:    hsl(346 76% 7%) !default;
$maroon-5:    hsl(346 74% 8%) !default;
$maroon-10:   hsl(346 72% 10%) !default;
$maroon-15:   hsl(346 71% 12%) !default;
$maroon-20:   hsl(346 69% 15%) !default;
$maroon-25:   hsl(346 68% 18%) !default;
$maroon-30:   hsl(346 66% 22%) !default;
$maroon-35:   hsl(346 65% 27%) !default;
$maroon-40:   hsl(346 65% 33%) !default;
$maroon-45:   hsl(346 65% 40%) !default;
$maroon-50:   hsl(346 66% 48%) !default;
$maroon-55:   hsl(346 70% 57%) !default;
$maroon-60:   hsl(346 76% 66%) !default;
$maroon-65:   hsl(346 82% 74%) !default;
$maroon-70:   hsl(346 86% 81%) !default;
$maroon-75:   hsl(346 89% 86%) !default;
$maroon-80:   hsl(346 91% 90%) !default;
$maroon-85:   hsl(346 93% 93%) !default;
$maroon-90:   hsl(346 94% 96%) !default;
$maroon-95:   hsl(346 95% 97%) !default;
$maroon-100:  hsl(346 96% 98%) !default;