// olive
$olive:      hsl(68 69% 47%) !default;
$olive-hue:  68 !default;
$olive-0:    hsl(76 76% 5%) !default;
$olive-5:    hsl(75 78% 7%) !default;
$olive-10:   hsl(74 79% 9%) !default;
$olive-15:   hsl(73 80% 11%) !default;
$olive-20:   hsl(72 80% 14%) !default;
$olive-25:   hsl(72 79% 18%) !default;
$olive-30:   hsl(71 78% 22%) !default;
$olive-35:   hsl(70 76% 28%) !default;
$olive-40:   hsl(69 74% 33%) !default;
$olive-45:   hsl(69 72% 40%) !default;
$olive-50:   hsl(68 69% 47%) !default;
$olive-55:   hsl(67 67% 55%) !default;
$olive-60:   hsl(67 65% 62%) !default;
$olive-65:   hsl(66 63% 69%) !default;
$olive-70:   hsl(66 62% 75%) !default;
$olive-75:   hsl(66 61% 80%) !default;
$olive-80:   hsl(65 60% 85%) !default;
$olive-85:   hsl(65 59% 89%) !default;
$olive-90:   hsl(64 59% 92%) !default;
$olive-95:   hsl(64 59% 95%) !default;
$olive-100:  hsl(64 59% 97%) !default;