// pink
$pink:      hsl(321 63% 48%) !default;
$pink-hue:  321 !default;
$pink-0:    hsl(322 76% 7%) !default;
$pink-5:    hsl(322 74% 8%) !default;
$pink-10:   hsl(321 71% 10%) !default;
$pink-15:   hsl(321 69% 12%) !default;
$pink-20:   hsl(321 67% 15%) !default;
$pink-25:   hsl(321 66% 18%) !default;
$pink-30:   hsl(321 64% 22%) !default;
$pink-35:   hsl(321 63% 27%) !default;
$pink-40:   hsl(321 62% 33%) !default;
$pink-45:   hsl(321 62% 40%) !default;
$pink-50:   hsl(321 63% 48%) !default;
$pink-55:   hsl(321 67% 57%) !default;
$pink-60:   hsl(321 74% 66%) !default;
$pink-65:   hsl(321 80% 74%) !default;
$pink-70:   hsl(320 85% 81%) !default;
$pink-75:   hsl(320 88% 86%) !default;
$pink-80:   hsl(320 91% 90%) !default;
$pink-85:   hsl(320 93% 93%) !default;
$pink-90:   hsl(319 94% 96%) !default;
$pink-95:   hsl(319 95% 97%) !default;
$pink-100:  hsl(318 96% 98%) !default;