// purple
$purple:      hsl(280 80% 55%) !default;
$purple-hue:  280 !default;
$purple-0:    hsl(280 81% 8%) !default;
$purple-5:    hsl(280 78% 10%) !default;
$purple-10:   hsl(280 75% 12%) !default;
$purple-15:   hsl(280 72% 15%) !default;
$purple-20:   hsl(280 69% 19%) !default;
$purple-25:   hsl(280 67% 23%) !default;
$purple-30:   hsl(280 66% 28%) !default;
$purple-35:   hsl(280 66% 34%) !default;
$purple-40:   hsl(280 69% 41%) !default;
$purple-45:   hsl(280 75% 48%) !default;
$purple-50:   hsl(280 80% 55%) !default;
$purple-55:   hsl(280 84% 63%) !default;
$purple-60:   hsl(280 87% 70%) !default;
$purple-65:   hsl(280 89% 77%) !default;
$purple-70:   hsl(280 90% 83%) !default;
$purple-75:   hsl(280 92% 88%) !default;
$purple-80:   hsl(280 92% 91%) !default;
$purple-85:   hsl(280 93% 94%) !default;
$purple-90:   hsl(280 94% 96%) !default;
$purple-95:   hsl(280 94% 97%) !default;
$purple-100:  hsl(280 94% 98%) !default;