// teal
$teal:      hsl(165 68% 45%) !default;
$teal-hue:  165 !default;
$teal-0:    hsl(165 76% 5%) !default;
$teal-5:    hsl(165 77% 7%) !default;
$teal-10:   hsl(165 77% 9%) !default;
$teal-15:   hsl(165 77% 11%) !default;
$teal-20:   hsl(165 76% 14%) !default;
$teal-25:   hsl(165 75% 17%) !default;
$teal-30:   hsl(165 74% 21%) !default;
$teal-35:   hsl(165 72% 25%) !default;
$teal-40:   hsl(165 70% 31%) !default;
$teal-45:   hsl(165 69% 37%) !default;
$teal-50:   hsl(165 68% 45%) !default;
$teal-55:   hsl(165 68% 53%) !default;
$teal-60:   hsl(165 68% 62%) !default;
$teal-65:   hsl(165 70% 70%) !default;
$teal-70:   hsl(165 72% 77%) !default;
$teal-75:   hsl(165 76% 83%) !default;
$teal-80:   hsl(165 79% 87%) !default;
$teal-85:   hsl(165 84% 91%) !default;
$teal-90:   hsl(165 89% 93%) !default;
$teal-95:   hsl(165 94% 95%) !default;
$teal-100:  hsl(165 100% 97%) !default;