// yellow
$yellow:      hsl(40 96% 52%) !default;
$yellow-hue:  40 !default;
$yellow-0:    hsl(21 93% 8%) !default;
$yellow-5:    hsl(24 94% 10%) !default;
$yellow-10:   hsl(26 95% 12%) !default;
$yellow-15:   hsl(29 96% 15%) !default;
$yellow-20:   hsl(31 96% 18%) !default;
$yellow-25:   hsl(33 96% 22%) !default;
$yellow-30:   hsl(34 97% 27%) !default;
$yellow-35:   hsl(36 97% 32%) !default;
$yellow-40:   hsl(37 97% 38%) !default;
$yellow-45:   hsl(38 96% 45%) !default;
$yellow-50:   hsl(40 96% 52%) !default;
$yellow-55:   hsl(41 95% 59%) !default;
$yellow-60:   hsl(41 94% 66%) !default;
$yellow-65:   hsl(42 93% 72%) !default;
$yellow-70:   hsl(43 91% 78%) !default;
$yellow-75:   hsl(44 89% 83%) !default;
$yellow-80:   hsl(44 86% 87%) !default;
$yellow-85:   hsl(44 83% 90%) !default;
$yellow-90:   hsl(45 79% 93%) !default;
$yellow-95:   hsl(45 74% 95%) !default;
$yellow-100:  hsl(45 67% 97%) !default;