// Blue
$blue:      hsl(202 85% 48%) !default;
$blue-hue:  202 !default;
$blue-0:    hsl(218 88% 7%) !default;
$blue-5:    hsl(215 87% 9%) !default;
$blue-10:   hsl(213 86% 12%) !default;
$blue-15:   hsl(211 86% 15%) !default;
$blue-20:   hsl(209 85% 19%) !default;
$blue-25:   hsl(207 85% 22%) !default;
$blue-30:   hsl(206 85% 26%) !default;
$blue-35:   hsl(205 85% 31%) !default;
$blue-40:   hsl(204 85% 36%) !default;
$blue-45:   hsl(203 85% 42%) !default;
$blue-50:   hsl(202 85% 48%) !default;
$blue-55:   hsl(202 86% 55%) !default;
$blue-60:   hsl(201 86% 62%) !default;
$blue-65:   hsl(201 87% 69%) !default;
$blue-70:   hsl(201 88% 76%) !default;
$blue-75:   hsl(200 88% 82%) !default;
$blue-80:   hsl(200 89% 87%) !default;
$blue-85:   hsl(200 90% 91%) !default;
$blue-90:   hsl(200 91% 94%) !default;
$blue-95:   hsl(200 92% 96%) !default;
$blue-100:  hsl(200 93% 98%) !default;