// Grey Blue
$grey-blue:      hsl(200 7% 55%) !default;
$grey-blue-hue:  200 !default;
$grey-blue-0:    hsl(200 7% 5%) !default;
$grey-blue-5:    hsl(200 7% 9%) !default;
$grey-blue-10:   hsl(200 7% 14%) !default;
$grey-blue-15:   hsl(200 7% 18%) !default;
$grey-blue-20:   hsl(200 7% 23%) !default;
$grey-blue-25:   hsl(200 7% 28%) !default;
$grey-blue-30:   hsl(200 7% 34%) !default;
$grey-blue-35:   hsl(200 7% 39%) !default;
$grey-blue-40:   hsl(200 7% 45%) !default;
$grey-blue-45:   hsl(200 7% 50%) !default;
$grey-blue-50:   hsl(200 7% 55%) !default;
$grey-blue-55:   hsl(200 7% 61%) !default;
$grey-blue-60:   hsl(200 7% 66%) !default;
$grey-blue-65:   hsl(200 7% 71%) !default;
$grey-blue-70:   hsl(200 7% 76%) !default;
$grey-blue-75:   hsl(200 7% 81%) !default;
$grey-blue-80:   hsl(200 7% 85%) !default;
$grey-blue-85:   hsl(200 7% 89%) !default;
$grey-blue-90:   hsl(200 7% 92%) !default;
$grey-blue-95:   hsl(200 7% 96%) !default;
$grey-blue-100:  hsl(200 7% 98%) !default;