// Grey Pink
$grey-pink:      hsl(300 5% 57%) !default;
$grey-pink-hue:  300 !default;
$grey-pink-0:    hsl(300 5% 5%) !default;
$grey-pink-5:    hsl(300 5% 9%) !default;
$grey-pink-10:   hsl(300 5% 13%) !default;
$grey-pink-15:   hsl(300 5% 18%) !default;
$grey-pink-20:   hsl(300 5% 23%) !default;
$grey-pink-25:   hsl(300 5% 28%) !default;
$grey-pink-30:   hsl(300 5% 33%) !default;
$grey-pink-35:   hsl(300 5% 39%) !default;
$grey-pink-40:   hsl(300 5% 45%) !default;
$grey-pink-45:   hsl(300 5% 51%) !default;
$grey-pink-50:   hsl(300 5% 57%) !default;
$grey-pink-55:   hsl(300 5% 63%) !default;
$grey-pink-60:   hsl(300 5% 68%) !default;
$grey-pink-65:   hsl(300 5% 74%) !default;
$grey-pink-70:   hsl(300 5% 79%) !default;
$grey-pink-75:   hsl(300 5% 83%) !default;
$grey-pink-80:   hsl(300 5% 87%) !default;
$grey-pink-85:   hsl(300 5% 91%) !default;
$grey-pink-90:   hsl(300 5% 94%) !default;
$grey-pink-95:   hsl(300 5% 96%) !default;
$grey-pink-100:  hsl(300 5% 98%) !default;