// Grey Green
$grey-green:      hsl(100 4% 53%) !default;
$grey-green-hue:  100 !default;
$grey-green-0:    hsl(100 4% 5%) !default;
$grey-green-5:    hsl(100 4% 9%) !default;
$grey-green-10:   hsl(100 4% 13%) !default;
$grey-green-15:   hsl(100 4% 17%) !default;
$grey-green-20:   hsl(100 4% 21%) !default;
$grey-green-25:   hsl(100 4% 26%) !default;
$grey-green-30:   hsl(100 4% 31%) !default;
$grey-green-35:   hsl(100 4% 37%) !default;
$grey-green-40:   hsl(100 4% 42%) !default;
$grey-green-45:   hsl(100 4% 48%) !default;
$grey-green-50:   hsl(100 4% 53%) !default;
$grey-green-55:   hsl(100 4% 59%) !default;
$grey-green-60:   hsl(100 4% 64%) !default;
$grey-green-65:   hsl(100 4% 70%) !default;
$grey-green-70:   hsl(100 4% 75%) !default;
$grey-green-75:   hsl(100 4% 80%) !default;
$grey-green-80:   hsl(100 4% 84%) !default;
$grey-green-85:   hsl(100 4% 88%) !default;
$grey-green-90:   hsl(100 4% 92%) !default;
$grey-green-95:   hsl(100 4% 95%) !default;
$grey-green-100:  hsl(100 4% 98%) !default;