// Grey Violet
$grey-violet:      hsl(250 7% 56%) !default;
$grey-violet-hue:  250 !default;
$grey-violet-0:    hsl(250 7% 5%) !default;
$grey-violet-5:    hsl(250 7% 9%) !default;
$grey-violet-10:   hsl(250 7% 14%) !default;
$grey-violet-15:   hsl(250 7% 18%) !default;
$grey-violet-20:   hsl(250 7% 23%) !default;
$grey-violet-25:   hsl(250 7% 28%) !default;
$grey-violet-30:   hsl(250 7% 33%) !default;
$grey-violet-35:   hsl(250 7% 39%) !default;
$grey-violet-40:   hsl(250 7% 44%) !default;
$grey-violet-45:   hsl(250 7% 50%) !default;
$grey-violet-50:   hsl(250 7% 56%) !default;
$grey-violet-55:   hsl(250 7% 61%) !default;
$grey-violet-60:   hsl(250 7% 67%) !default;
$grey-violet-65:   hsl(250 7% 72%) !default;
$grey-violet-70:   hsl(250 7% 77%) !default;
$grey-violet-75:   hsl(250 7% 82%) !default;
$grey-violet-80:   hsl(250 7% 86%) !default;
$grey-violet-85:   hsl(250 7% 90%) !default;
$grey-violet-90:   hsl(250 7% 93%) !default;
$grey-violet-95:   hsl(250 7% 96%) !default;
$grey-violet-100:  hsl(250 7% 98%) !default;