// Grey Violet
$grey:      hsl(250 7% 56%) !default;
$grey-hue:  250 !default;
$grey-0:    hsl(250 7% 5%) !default;
$grey-5:    hsl(250 7% 9%) !default;
$grey-10:   hsl(250 7% 14%) !default;
$grey-15:   hsl(250 7% 18%) !default;
$grey-20:   hsl(250 7% 23%) !default;
$grey-25:   hsl(250 7% 28%) !default;
$grey-30:   hsl(250 7% 33%) !default;
$grey-35:   hsl(250 7% 39%) !default;
$grey-40:   hsl(250 7% 44%) !default;
$grey-45:   hsl(250 7% 50%) !default;
$grey-50:   hsl(250 7% 56%) !default;
$grey-55:   hsl(250 7% 61%) !default;
$grey-60:   hsl(250 7% 67%) !default;
$grey-65:   hsl(250 7% 72%) !default;
$grey-70:   hsl(250 7% 77%) !default;
$grey-75:   hsl(250 7% 82%) !default;
$grey-80:   hsl(250 7% 86%) !default;
$grey-85:   hsl(250 7% 90%) !default;
$grey-90:   hsl(250 7% 93%) !default;
$grey-95:   hsl(250 7% 96%) !default;
$grey-100:  hsl(250 7% 98%) !default;