// Grey Red
$grey-red:      hsl(4 6% 55%) !default;
$grey-red-hue:  4 !default;
$grey-red-0:    hsl(4 6% 5%) !default;
$grey-red-5:    hsl(4 6% 10%) !default;
$grey-red-10:   hsl(4 6% 15%) !default;
$grey-red-15:   hsl(4 6% 20%) !default;
$grey-red-20:   hsl(4 6% 25%) !default;
$grey-red-25:   hsl(4 6% 30%) !default;
$grey-red-30:   hsl(4 6% 35%) !default;
$grey-red-35:   hsl(4 6% 40%) !default;
$grey-red-40:   hsl(4 6% 45%) !default;
$grey-red-45:   hsl(4 6% 50%) !default;
$grey-red-50:   hsl(4 6% 55%) !default;
$grey-red-55:   hsl(4 6% 60%) !default;
$grey-red-60:   hsl(4 6% 65%) !default;
$grey-red-65:   hsl(4 6% 70%) !default;
$grey-red-70:   hsl(4 6% 74%) !default;
$grey-red-75:   hsl(4 6% 79%) !default;
$grey-red-80:   hsl(4 6% 83%) !default;
$grey-red-85:   hsl(4 6% 87%) !default;
$grey-red-90:   hsl(4 6% 91%) !default;
$grey-red-95:   hsl(4 6% 95%) !default;
$grey-red-100:  hsl(4 6% 98%) !default;