// Grey Maroon
$grey-maroon:      hsl(350 6% 51%) !default;
$grey-maroon-hue:  350 !default;
$grey-maroon-0:    hsl(350 6% 5%) !default;
$grey-maroon-5:    hsl(350 6% 8%) !default;
$grey-maroon-10:   hsl(350 6% 12%) !default;
$grey-maroon-15:   hsl(350 6% 16%) !default;
$grey-maroon-20:   hsl(350 6% 20%) !default;
$grey-maroon-25:   hsl(350 6% 24%) !default;
$grey-maroon-30:   hsl(350 6% 29%) !default;
$grey-maroon-35:   hsl(350 6% 34%) !default;
$grey-maroon-40:   hsl(350 6% 39%) !default;
$grey-maroon-45:   hsl(350 6% 45%) !default;
$grey-maroon-50:   hsl(350 6% 51%) !default;
$grey-maroon-55:   hsl(350 6% 57%) !default;
$grey-maroon-60:   hsl(350 6% 63%) !default;
$grey-maroon-65:   hsl(350 6% 69%) !default;
$grey-maroon-70:   hsl(350 6% 75%) !default;
$grey-maroon-75:   hsl(350 6% 81%) !default;
$grey-maroon-80:   hsl(350 6% 86%) !default;
$grey-maroon-85:   hsl(350 6% 90%) !default;
$grey-maroon-90:   hsl(350 6% 94%) !default;
$grey-maroon-95:   hsl(350 6% 96%) !default;
$grey-maroon-100:  hsl(350 6% 98%) !default;