// Grey Yellow
$grey-yellow:      hsl(50 5% 54%) !default;
$grey-yellow-hue:  50 !default;
$grey-yellow-0:    hsl(50 5% 5%) !default;
$grey-yellow-5:    hsl(50 5% 10%) !default;
$grey-yellow-10:   hsl(50 5% 14%) !default;
$grey-yellow-15:   hsl(50 5% 19%) !default;
$grey-yellow-20:   hsl(50 5% 24%) !default;
$grey-yellow-25:   hsl(50 5% 29%) !default;
$grey-yellow-30:   hsl(50 5% 33%) !default;
$grey-yellow-35:   hsl(50 5% 39%) !default;
$grey-yellow-40:   hsl(50 5% 44%) !default;
$grey-yellow-45:   hsl(50 5% 49%) !default;
$grey-yellow-50:   hsl(50 5% 54%) !default;
$grey-yellow-55:   hsl(50 5% 59%) !default;
$grey-yellow-60:   hsl(50 5% 64%) !default;
$grey-yellow-65:   hsl(50 5% 69%) !default;
$grey-yellow-70:   hsl(50 5% 74%) !default;
$grey-yellow-75:   hsl(50 5% 78%) !default;
$grey-yellow-80:   hsl(50 5% 83%) !default;
$grey-yellow-85:   hsl(50 5% 87%) !default;
$grey-yellow-90:   hsl(50 5% 91%) !default;
$grey-yellow-95:   hsl(50 5% 94%) !default;
$grey-yellow-100:  hsl(50 5% 98%) !default;