// Grey Teal
$grey-teal:      hsl(150 5% 54%) !default;
$grey-teal-hue:  150 !default;
$grey-teal-0:    hsl(150 5% 5%) !default;
$grey-teal-5:    hsl(150 5% 10%) !default;
$grey-teal-10:   hsl(150 5% 14%) !default;
$grey-teal-15:   hsl(150 5% 19%) !default;
$grey-teal-20:   hsl(150 5% 24%) !default;
$grey-teal-25:   hsl(150 5% 29%) !default;
$grey-teal-30:   hsl(150 5% 34%) !default;
$grey-teal-35:   hsl(150 5% 39%) !default;
$grey-teal-40:   hsl(150 5% 44%) !default;
$grey-teal-45:   hsl(150 5% 49%) !default;
$grey-teal-50:   hsl(150 5% 54%) !default;
$grey-teal-55:   hsl(150 5% 59%) !default;
$grey-teal-60:   hsl(150 5% 64%) !default;
$grey-teal-65:   hsl(150 5% 69%) !default;
$grey-teal-70:   hsl(150 5% 73%) !default;
$grey-teal-75:   hsl(150 5% 78%) !default;
$grey-teal-80:   hsl(150 5% 82%) !default;
$grey-teal-85:   hsl(150 5% 87%) !default;
$grey-teal-90:   hsl(150 5% 91%) !default;
$grey-teal-95:   hsl(150 5% 94%) !default;
$grey-teal-100:  hsl(150 5% 98%) !default;