// Indigo
$indigo:      hsl(232 78% 55%) !default;
$indigo-hue:  232 !default;
$indigo-0:    hsl(236 50% 9%) !default;
$indigo-5:    hsl(235 50% 12%) !default;
$indigo-10:   hsl(235 51% 16%) !default;
$indigo-15:   hsl(234 53% 20%) !default;
$indigo-20:   hsl(234 55% 24%) !default;
$indigo-25:   hsl(233 57% 28%) !default;
$indigo-30:   hsl(233 61% 33%) !default;
$indigo-35:   hsl(232 65% 38%) !default;
$indigo-40:   hsl(232 70% 43%) !default;
$indigo-45:   hsl(232 75% 49%) !default;
$indigo-50:   hsl(232 78% 55%) !default;
$indigo-55:   hsl(231 80% 62%) !default;
$indigo-60:   hsl(231 82% 68%) !default;
$indigo-65:   hsl(231 83% 75%) !default;
$indigo-70:   hsl(231 84% 80%) !default;
$indigo-75:   hsl(230 84% 85%) !default;
$indigo-80:   hsl(230 84% 90%) !default;
$indigo-85:   hsl(230 83% 93%) !default;
$indigo-90:   hsl(230 83% 96%) !default;
$indigo-95:   hsl(230 82% 98%) !default;
$indigo-100:  hsl(230 81% 99%) !default;