// Pink
$pink:      hsl(321 80% 46%) !default;
$pink-hue:  321 !default;
$pink-0:    hsl(322 76% 5%) !default;
$pink-5:    hsl(322 77% 7%) !default;
$pink-10:   hsl(321 79% 9%) !default;
$pink-15:   hsl(321 80% 12%) !default;
$pink-20:   hsl(321 81% 15%) !default;
$pink-25:   hsl(321 82% 19%) !default;
$pink-30:   hsl(321 82% 23%) !default;
$pink-35:   hsl(321 82% 28%) !default;
$pink-40:   hsl(321 82% 33%) !default;
$pink-45:   hsl(321 81% 39%) !default;
$pink-50:   hsl(321 80% 46%) !default;
$pink-55:   hsl(321 76% 53%) !default;
$pink-60:   hsl(321 72% 61%) !default;
$pink-65:   hsl(321 72% 69%) !default;
$pink-70:   hsl(320 73% 76%) !default;
$pink-75:   hsl(320 75% 82%) !default;
$pink-80:   hsl(320 78% 87%) !default;
$pink-85:   hsl(320 80% 91%) !default;
$pink-90:   hsl(319 83% 94%) !default;
$pink-95:   hsl(319 86% 96%) !default;
$pink-100:  hsl(318 89% 98%) !default;