// Purple
$purple:      hsl(280 76% 53%) !default;
$purple-hue:  280 !default;
$purple-0:    hsl(280 81% 6%) !default;
$purple-5:    hsl(280 78% 8%) !default;
$purple-10:   hsl(280 75% 11%) !default;
$purple-15:   hsl(280 72% 14%) !default;
$purple-20:   hsl(280 69% 18%) !default;
$purple-25:   hsl(280 67% 22%) !default;
$purple-30:   hsl(280 66% 27%) !default;
$purple-35:   hsl(280 66% 33%) !default;
$purple-40:   hsl(280 68% 39%) !default;
$purple-45:   hsl(280 73% 46%) !default;
$purple-50:   hsl(280 76% 53%) !default;
$purple-55:   hsl(280 79% 60%) !default;
$purple-60:   hsl(280 80% 67%) !default;
$purple-65:   hsl(280 81% 73%) !default;
$purple-70:   hsl(280 82% 79%) !default;
$purple-75:   hsl(280 82% 84%) !default;
$purple-80:   hsl(280 82% 89%) !default;
$purple-85:   hsl(280 82% 92%) !default;
$purple-90:   hsl(280 81% 95%) !default;
$purple-95:   hsl(280 81% 97%) !default;
$purple-100:  hsl(280 80% 98%) !default;