// Red
$red:      hsl(0 78% 54%) !default;
$red-hue:  0 !default;
$red-0:    hsl(0 80% 6%) !default;
$red-5:    hsl(0 79% 8%) !default;
$red-10:   hsl(0 78% 11%) !default;
$red-15:   hsl(0 77% 14%) !default;
$red-20:   hsl(0 77% 17%) !default;
$red-25:   hsl(0 76% 22%) !default;
$red-30:   hsl(0 76% 27%) !default;
$red-35:   hsl(0 77% 33%) !default;
$red-40:   hsl(0 77% 39%) !default;
$red-45:   hsl(0 78% 46%) !default;
$red-50:   hsl(0 78% 54%) !default;
$red-55:   hsl(0 79% 61%) !default;
$red-60:   hsl(0 80% 68%) !default;
$red-65:   hsl(0 81% 74%) !default;
$red-70:   hsl(0 82% 79%) !default;
$red-75:   hsl(0 82% 84%) !default;
$red-80:   hsl(0 83% 88%) !default;
$red-85:   hsl(0 84% 92%) !default;
$red-90:   hsl(0 84% 95%) !default;
$red-95:   hsl(0 85% 97%) !default;
$red-100:  hsl(0 85% 99%) !default;