// Teal
$teal:      hsl(165 69% 42%) !default;
$teal-hue:  165 !default;
$teal-0:    hsl(165 67% 5%) !default;
$teal-5:    hsl(165 69% 7%) !default;
$teal-10:   hsl(165 71% 10%) !default;
$teal-15:   hsl(165 72% 13%) !default;
$teal-20:   hsl(165 74% 16%) !default;
$teal-25:   hsl(165 75% 19%) !default;
$teal-30:   hsl(165 76% 23%) !default;
$teal-35:   hsl(165 76% 27%) !default;
$teal-40:   hsl(165 76% 31%) !default;
$teal-45:   hsl(165 74% 37%) !default;
$teal-50:   hsl(165 69% 42%) !default;
$teal-55:   hsl(165 60% 49%) !default;
$teal-60:   hsl(165 55% 56%) !default;
$teal-65:   hsl(165 54% 64%) !default;
$teal-70:   hsl(165 54% 72%) !default;
$teal-75:   hsl(165 55% 80%) !default;
$teal-80:   hsl(165 57% 86%) !default;
$teal-85:   hsl(165 59% 90%) !default;
$teal-90:   hsl(165 60% 94%) !default;
$teal-95:   hsl(165 63% 96%) !default;
$teal-100:  hsl(165 65% 98%) !default;