// violet
$violet:      hsl(259 84% 62%) !default;
$violet-hue:  259 !default;
$violet-0:    hsl(271 75% 8%) !default;
$violet-5:    hsl(269 73% 11%) !default;
$violet-10:   hsl(268 72% 15%) !default;
$violet-15:   hsl(266 71% 19%) !default;
$violet-20:   hsl(265 70% 24%) !default;
$violet-25:   hsl(264 69% 28%) !default;
$violet-30:   hsl(263 68% 34%) !default;
$violet-35:   hsl(262 69% 40%) !default;
$violet-40:   hsl(261 71% 47%) !default;
$violet-45:   hsl(260 77% 54%) !default;
$violet-50:   hsl(259 84% 62%) !default;
$violet-55:   hsl(258 88% 69%) !default;
$violet-60:   hsl(258 90% 75%) !default;
$violet-65:   hsl(257 92% 81%) !default;
$violet-70:   hsl(257 93% 86%) !default;
$violet-75:   hsl(256 93% 90%) !default;
$violet-80:   hsl(256 94% 93%) !default;
$violet-85:   hsl(255 94% 95%) !default;
$violet-90:   hsl(255 94% 96%) !default;
$violet-95:   hsl(255 93% 97%) !default;
$violet-100:  hsl(255 93% 98%) !default;