// Yellow
$yellow:      hsl(41 94% 49%) !default;
$yellow-hue:  41 !default;
$yellow-0:    hsl(30 99% 5%) !default;
$yellow-5:    hsl(31 99% 8%) !default;
$yellow-10:   hsl(33 99% 11%) !default;
$yellow-15:   hsl(34 99% 14%) !default;
$yellow-20:   hsl(35 99% 18%) !default;
$yellow-25:   hsl(36 98% 22%) !default;
$yellow-30:   hsl(37 98% 27%) !default;
$yellow-35:   hsl(38 97% 32%) !default;
$yellow-40:   hsl(39 96% 38%) !default;
$yellow-45:   hsl(40 95% 44%) !default;
$yellow-50:   hsl(41 94% 49%) !default;
$yellow-55:   hsl(41 93% 55%) !default;
$yellow-60:   hsl(42 92% 61%) !default;
$yellow-65:   hsl(43 90% 67%) !default;
$yellow-70:   hsl(43 88% 73%) !default;
$yellow-75:   hsl(44 87% 78%) !default;
$yellow-80:   hsl(44 85% 83%) !default;
$yellow-85:   hsl(44 84% 87%) !default;
$yellow-90:   hsl(45 82% 91%) !default;
$yellow-95:   hsl(45 82% 94%) !default;
$yellow-100:  hsl(45 82% 96%) !default;