section.palette {
  a {
    text-decoration: none;
  }
  & > header {
    h1 {
      font-size: $size-larger;
    }
    div.info {
      div.source {
        font-size: $size-smallish;
      }
    }
  }
  h2 {
    font-size: $size-large;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  h3 {
    font-size: $size-medium;
    margin-top: 0.5rem;
  }
  h2 + h3 {
    margin-top: 0;
  }
  .ranges {
    margin: 1rem 0;
    &.nameless {
      .swatch {
        border-radius: 0;
      }
      .range:first-child {
        .swatch:first-child {
          border-top-left-radius: var(--swatch-radius);
        }
        .swatch:last-child {
          border-top-right-radius: var(--swatch-radius);
        }
      }
      .range:last-child {
        .swatch:first-child {
          border-bottom-left-radius: var(--swatch-radius);
        }
        .swatch:last-child {
          border-bottom-right-radius: var(--swatch-radius);
        }
      }
    }
  }
  .range-editor {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

section.palette > header .controls,
section.range > header .controls {
  flex-basis: 400px;
  font-size: $size-smallish;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#site.dark {
  color-scheme: dark;
  section.palette {
    --option-back: var(--grey-0);
    --option-border: var(--grey-30);
    --option-hover-back: black;
    .swatches {
      .swatch.none {
        background-color: var(--grey-10);
        color: var(--grey-80);
      }
    }
  }
}
