section.palette {
  a {
    text-decoration: none;
  }
  & > header {
    h1 {
      font-size: $size-largest;
    }
    div.info {
      div.source {
        font-size: $size-small;
      }
    }
  }
  h2 {
    font-size: $size-larger;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  h3 {
    font-size: $size-medium;
    margin-top: 0.5rem;
  }
  h2 + h3 {
    margin-top: 0;
  }
  &.no-tooltips {
    [data-tooltip]:not(.always-tooltip) {
      &:before,
      &:after,
      .tooltip {
        display: none;
      }
    }
  }
  .ranges {
    margin: 1rem 0;
    &.nameless {
      .swatch {
        border-radius: 0;
      }
      .range:first-child {
        .swatch:first-child {
          border-top-left-radius: var(--swatch-radius);
        }
        .swatch:last-child {
          border-top-right-radius: var(--swatch-radius);
        }
      }
      .range:last-child {
        .swatch:first-child {
          border-bottom-left-radius: var(--swatch-radius);
        }
        .swatch:last-child {
          border-bottom-right-radius: var(--swatch-radius);
        }
      }
    }
  }
  .range-editor {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.field input[type="color"] {
  height: var(--input-max-height, 64px);
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0 !important;
  margin: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0.5em !important;
}

section.palette > header .controls,
section.range > header .controls {
  flex-basis: 400px;
  font-size: $size-small;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#site.dark {
  color-scheme: dark;
  section.palette {
    --option-back: var(--grey-0);
    --option-border: var(--grey-30);
    --option-hover-back: black;
    .swatches {
      .swatch.none {
        background-color: var(--grey-10);
        color: var(--grey-80);
      }
    }
  }
}
