.swatches {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  // box-shadow: 2px 3px 6px var(--swatch-shadow);
  .swatch {
    position: relative;
    font-size: $size-smaller;
    padding: 0.5em;
    min-height: 3rem;
    &:first-child {
      border-radius: var(--swatch-radius) 0 0 var(--swatch-radius);
    }
    &:last-child {
      border-radius: 0 var(--swatch-radius) var(--swatch-radius) 0;
    }
    .info {
      .stop {
        font-size: $size-smaller;
        margin-bottom: 1em;
        line-height: 1;
      }
      .specs {
        font-size: $size-smallest;
        opacity: 0.8;
      }
      .locked {
        font-size: $size-small;
      }
    }
    &.light {
      color: black;
    }
    &.dark {
      color: white;
    }
    &.grey {
      min-height: 2rem;
      padding: 0.125rem 0.5rem;
      font-size: $size-smallest;
    }
    &.none {
      background-color: var(--grey-90);
      color: var(--grey-20);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.clickable {
      cursor: pointer;
      .hover-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(black, 0.5);
        color: white;
        .icon {
          font-size: 2rem;
          margin: 0 auto;
        }
      }
      &:hover {
        .hover-overlay {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .info .locked {
          // opacity: 0.3;
          display: none;
        }
      }
      &.dark .hover-overlay {
        //background-color: rgba(white, 0.5);
        //color: black;
      }
    }
  }
}

