.swatches {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  // box-shadow: 2px 3px 6px var(--swatch-shadow);
  .swatch {
    --tooltip-color: var(--grey-10);
    --tooltip-background: var(--grey-100);
    --tooltip-hover: var(--brand-60);
    --tooltip-margin: -8px;
    position: relative;
    font-size: $size-smaller;
    padding: 0.5em;
    min-height: 3rem;
    &[data-tooltip] {
      --transition-delay: 0.1s;
      &:before, &:after, .tooltip {
        transition-delay: var(--transition-delay);
      }
      &:hover {
        --transition-delay: 0.4s;
      }
      &:has(:hover) {
        .tooltip.clickable {
          pointer-events: all;
          opacity: 1;
          &:hover {
            --tooltip-background: var(--tooltip-hover);
          }
        }
      }
    }
    &:first-child {
      border-radius: var(--swatch-radius) 0 0 var(--swatch-radius);
    }
    &:last-child {
      border-radius: 0 var(--swatch-radius) var(--swatch-radius) 0;
    }
    .info {
      .stop {
        font-size: $size-smaller;
        margin-bottom: 1em;
        line-height: 1;
      }
      .specs {
        font-size: $size-smallest;
        opacity: 0.8;
      }
      .tooltip {
        min-width: 6rem;
      }
      table.specs {
        font-size: $size-small;
        opacity: 1;
        color: white;
      }
      .locked {
        font-size: $size-small;
      }
    }
    &.light {
      color: black;
    }
    &.dark {
      color: white;
    }
    &.grey {
      min-height: 2rem;
      padding: 0.125rem 0.5rem;
      font-size: $size-smallest;
    }
    &.none {
      background-color: var(--grey-90);
      color: var(--grey-20);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.clickable {
      cursor: pointer;
      .hover-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(black, 0.5);
        color: white;
        .icon {
          font-size: 2rem;
          margin: 0 auto;
        }
      }
      &:hover {
        .hover-overlay {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .info .locked {
          // opacity: 0.3;
          display: none;
        }
      }
      &.dark .hover-overlay {
        //background-color: rgba(white, 0.5);
        //color: black;
      }
    }
  }
}

#{$dark-theme} .swatches .swatch {
  --tooltip-color: var(--grey-90);
  --tooltip-background: var(--grey-0);
  --tooltip-hover: var(--brand-40);
}
