:where(html) {
  /* red */
  --red:    hsl(0 80% 55%);
  --red-hue: 0;
  --red-0:  hsl(0 80% 9%);
  --red-5:  hsl(0 79% 10%);
  --red-10: hsl(0 79% 12%);
  --red-15: hsl(0 79% 14%);
  --red-20: hsl(0 78% 17%);
  --red-25: hsl(0 79% 21%);
  --red-30: hsl(0 79% 26%);
  --red-35: hsl(0 79% 32%);
  --red-40: hsl(0 79% 39%);
  --red-45: hsl(0 80% 47%);
  --red-50: hsl(0 80% 55%);
  --red-55: hsl(0 81% 63%);
  --red-60: hsl(0 82% 71%);
  --red-65: hsl(0 82% 77%);
  --red-70: hsl(0 83% 83%);
  --red-75: hsl(0 83% 87%);
  --red-80: hsl(0 84% 91%);
  --red-85: hsl(0 84% 94%);
  --red-90: hsl(0 85% 96%);
  --red-95: hsl(0 85% 97%);
  --red-100: hsl(0 85% 98%);
  /* brown */
  --brown:    hsl(13 68% 53%);
  --brown-hue: 13;
  --brown-0:  hsl(0 87% 9%);
  --brown-5:  hsl(2 84% 11%);
  --brown-10: hsl(4 81% 13%);
  --brown-15: hsl(6 78% 15%);
  --brown-20: hsl(8 75% 18%);
  --brown-25: hsl(9 73% 22%);
  --brown-30: hsl(10 71% 26%);
  --brown-35: hsl(11 70% 31%);
  --brown-40: hsl(12 69% 38%);
  --brown-45: hsl(12 68% 45%);
  --brown-50: hsl(13 68% 53%);
  --brown-55: hsl(13 68% 62%);
  --brown-60: hsl(14 69% 70%);
  --brown-65: hsl(14 71% 77%);
  --brown-70: hsl(14 72% 82%);
  --brown-75: hsl(14 74% 87%);
  --brown-80: hsl(14 76% 91%);
  --brown-85: hsl(14 79% 93%);
  --brown-90: hsl(14 81% 96%);
  --brown-95: hsl(14 83% 97%);
  --brown-100: hsl(14 86% 98%);
  /* orange */
  --orange:    hsl(23 95% 55%);
  --orange-hue: 23;
  --orange-0:  hsl(7 94% 8%);
  --orange-5:  hsl(10 94% 10%);
  --orange-10: hsl(12 95% 12%);
  --orange-15: hsl(14 95% 14%);
  --orange-20: hsl(16 96% 17%);
  --orange-25: hsl(18 96% 21%);
  --orange-30: hsl(19 96% 26%);
  --orange-35: hsl(20 96% 32%);
  --orange-40: hsl(21 96% 39%);
  --orange-45: hsl(22 95% 46%);
  --orange-50: hsl(23 95% 55%);
  --orange-55: hsl(23 94% 63%);
  --orange-60: hsl(24 94% 71%);
  --orange-65: hsl(24 93% 78%);
  --orange-70: hsl(24 92% 84%);
  --orange-75: hsl(25 91% 88%);
  --orange-80: hsl(25 89% 92%);
  --orange-85: hsl(25 88% 94%);
  --orange-90: hsl(25 87% 96%);
  --orange-95: hsl(25 86% 97%);
  --orange-100: hsl(25 85% 98%);
  /* yellow */
  --yellow:    hsl(40 96% 52%);
  --yellow-hue: 40;
  --yellow-0:  hsl(21 93% 8%);
  --yellow-5:  hsl(24 94% 10%);
  --yellow-10: hsl(26 95% 12%);
  --yellow-15: hsl(29 96% 15%);
  --yellow-20: hsl(31 96% 18%);
  --yellow-25: hsl(33 96% 22%);
  --yellow-30: hsl(34 97% 27%);
  --yellow-35: hsl(36 97% 32%);
  --yellow-40: hsl(37 97% 38%);
  --yellow-45: hsl(38 96% 45%);
  --yellow-50: hsl(40 96% 52%);
  --yellow-55: hsl(41 95% 59%);
  --yellow-60: hsl(41 94% 66%);
  --yellow-65: hsl(42 93% 72%);
  --yellow-70: hsl(43 91% 78%);
  --yellow-75: hsl(44 89% 83%);
  --yellow-80: hsl(44 86% 87%);
  --yellow-85: hsl(44 83% 90%);
  --yellow-90: hsl(45 79% 93%);
  --yellow-95: hsl(45 74% 95%);
  --yellow-100: hsl(45 67% 97%);
  /* olive */
  --olive:    hsl(68 69% 47%);
  --olive-hue: 68;
  --olive-0:  hsl(76 76% 5%);
  --olive-5:  hsl(75 78% 7%);
  --olive-10: hsl(74 79% 9%);
  --olive-15: hsl(73 80% 11%);
  --olive-20: hsl(72 80% 14%);
  --olive-25: hsl(72 79% 18%);
  --olive-30: hsl(71 78% 22%);
  --olive-35: hsl(70 76% 28%);
  --olive-40: hsl(69 74% 33%);
  --olive-45: hsl(69 72% 40%);
  --olive-50: hsl(68 69% 47%);
  --olive-55: hsl(67 67% 55%);
  --olive-60: hsl(67 65% 62%);
  --olive-65: hsl(66 63% 69%);
  --olive-70: hsl(66 62% 75%);
  --olive-75: hsl(66 61% 80%);
  --olive-80: hsl(65 60% 85%);
  --olive-85: hsl(65 59% 89%);
  --olive-90: hsl(64 59% 92%);
  --olive-95: hsl(64 59% 95%);
  --olive-100: hsl(64 59% 97%);
  /* green */
  --green:    hsl(120 56% 57%);
  --green-hue: 120;
  --green-0:  hsl(125 67% 6%);
  --green-5:  hsl(124 65% 8%);
  --green-10: hsl(123 63% 10%);
  --green-15: hsl(123 61% 12%);
  --green-20: hsl(122 60% 16%);
  --green-25: hsl(122 58% 20%);
  --green-30: hsl(121 57% 25%);
  --green-35: hsl(121 56% 31%);
  --green-40: hsl(120 56% 38%);
  --green-45: hsl(120 55% 47%);
  --green-50: hsl(120 56% 57%);
  --green-55: hsl(119 56% 66%);
  --green-60: hsl(119 57% 73%);
  --green-65: hsl(119 58% 79%);
  --green-70: hsl(119 60% 84%);
  --green-75: hsl(119 61% 87%);
  --green-80: hsl(119 63% 90%);
  --green-85: hsl(119 66% 93%);
  --green-90: hsl(120 68% 95%);
  --green-95: hsl(120 70% 97%);
  --green-100: hsl(120 73% 98%);
  /* teal */
  --teal:    hsl(165 68% 45%);
  --teal-hue: 165;
  --teal-0:  hsl(165 76% 5%);
  --teal-5:  hsl(165 77% 7%);
  --teal-10: hsl(165 77% 9%);
  --teal-15: hsl(165 77% 11%);
  --teal-20: hsl(165 76% 14%);
  --teal-25: hsl(165 75% 17%);
  --teal-30: hsl(165 74% 21%);
  --teal-35: hsl(165 72% 25%);
  --teal-40: hsl(165 70% 31%);
  --teal-45: hsl(165 69% 37%);
  --teal-50: hsl(165 68% 45%);
  --teal-55: hsl(165 68% 53%);
  --teal-60: hsl(165 68% 62%);
  --teal-65: hsl(165 70% 70%);
  --teal-70: hsl(165 72% 77%);
  --teal-75: hsl(165 76% 83%);
  --teal-80: hsl(165 79% 87%);
  --teal-85: hsl(165 84% 91%);
  --teal-90: hsl(165 89% 93%);
  --teal-95: hsl(165 94% 95%);
  --teal-100: hsl(165 100% 97%);
  /* blue */
  --blue:    hsl(202 77% 53%);
  --blue-hue: 202;
  --blue-0:  hsl(218 80% 8%);
  --blue-5:  hsl(215 77% 10%);
  --blue-10: hsl(213 75% 12%);
  --blue-15: hsl(211 73% 15%);
  --blue-20: hsl(209 72% 18%);
  --blue-25: hsl(207 71% 22%);
  --blue-30: hsl(206 71% 26%);
  --blue-35: hsl(205 72% 32%);
  --blue-40: hsl(204 73% 38%);
  --blue-45: hsl(203 75% 45%);
  --blue-50: hsl(202 77% 53%);
  --blue-55: hsl(202 79% 61%);
  --blue-60: hsl(201 82% 69%);
  --blue-65: hsl(201 84% 76%);
  --blue-70: hsl(201 86% 82%);
  --blue-75: hsl(200 88% 87%);
  --blue-80: hsl(200 89% 90%);
  --blue-85: hsl(200 90% 93%);
  --blue-90: hsl(200 91% 95%);
  --blue-95: hsl(200 91% 96%);
  --blue-100: hsl(200 91% 97%);
  /* indigo */
  --indigo:    hsl(232 72% 62%);
  --indigo-hue: 232;
  --indigo-0:  hsl(249 72% 9%);
  --indigo-5:  hsl(246 69% 12%);
  --indigo-10: hsl(244 66% 15%);
  --indigo-15: hsl(241 63% 19%);
  --indigo-20: hsl(239 60% 24%);
  --indigo-25: hsl(238 58% 28%);
  --indigo-30: hsl(236 56% 34%);
  --indigo-35: hsl(235 55% 40%);
  --indigo-40: hsl(234 56% 47%);
  --indigo-45: hsl(233 62% 55%);
  --indigo-50: hsl(232 72% 62%);
  --indigo-55: hsl(232 78% 70%);
  --indigo-60: hsl(231 83% 76%);
  --indigo-65: hsl(231 86% 82%);
  --indigo-70: hsl(231 88% 86%);
  --indigo-75: hsl(230 89% 90%);
  --indigo-80: hsl(230 90% 93%);
  --indigo-85: hsl(230 91% 95%);
  --indigo-90: hsl(230 92% 96%);
  --indigo-95: hsl(230 92% 97%);
  --indigo-100: hsl(230 92% 98%);
  /* violet */
  --violet:    hsl(259 84% 62%);
  --violet-hue: 259;
  --violet-0:  hsl(271 75% 8%);
  --violet-5:  hsl(269 73% 11%);
  --violet-10: hsl(268 72% 15%);
  --violet-15: hsl(266 71% 19%);
  --violet-20: hsl(265 70% 24%);
  --violet-25: hsl(264 69% 28%);
  --violet-30: hsl(263 68% 34%);
  --violet-35: hsl(262 69% 40%);
  --violet-40: hsl(261 71% 47%);
  --violet-45: hsl(260 77% 54%);
  --violet-50: hsl(259 84% 62%);
  --violet-55: hsl(258 88% 69%);
  --violet-60: hsl(258 90% 75%);
  --violet-65: hsl(257 92% 81%);
  --violet-70: hsl(257 93% 86%);
  --violet-75: hsl(256 93% 90%);
  --violet-80: hsl(256 94% 93%);
  --violet-85: hsl(255 94% 95%);
  --violet-90: hsl(255 94% 96%);
  --violet-95: hsl(255 93% 97%);
  --violet-100: hsl(255 93% 98%);
  /* purple */
  --purple:    hsl(280 80% 55%);
  --purple-hue: 280;
  --purple-0:  hsl(280 81% 8%);
  --purple-5:  hsl(280 78% 10%);
  --purple-10: hsl(280 75% 12%);
  --purple-15: hsl(280 72% 15%);
  --purple-20: hsl(280 69% 19%);
  --purple-25: hsl(280 67% 23%);
  --purple-30: hsl(280 66% 28%);
  --purple-35: hsl(280 66% 34%);
  --purple-40: hsl(280 69% 41%);
  --purple-45: hsl(280 75% 48%);
  --purple-50: hsl(280 80% 55%);
  --purple-55: hsl(280 84% 63%);
  --purple-60: hsl(280 87% 70%);
  --purple-65: hsl(280 89% 77%);
  --purple-70: hsl(280 90% 83%);
  --purple-75: hsl(280 92% 88%);
  --purple-80: hsl(280 92% 91%);
  --purple-85: hsl(280 93% 94%);
  --purple-90: hsl(280 94% 96%);
  --purple-95: hsl(280 94% 97%);
  --purple-100: hsl(280 94% 98%);
  /* pink */
  --pink:    hsl(321 63% 48%);
  --pink-hue: 321;
  --pink-0:  hsl(322 76% 7%);
  --pink-5:  hsl(322 74% 8%);
  --pink-10: hsl(321 71% 10%);
  --pink-15: hsl(321 69% 12%);
  --pink-20: hsl(321 67% 15%);
  --pink-25: hsl(321 66% 18%);
  --pink-30: hsl(321 64% 22%);
  --pink-35: hsl(321 63% 27%);
  --pink-40: hsl(321 62% 33%);
  --pink-45: hsl(321 62% 40%);
  --pink-50: hsl(321 63% 48%);
  --pink-55: hsl(321 67% 57%);
  --pink-60: hsl(321 74% 66%);
  --pink-65: hsl(321 80% 74%);
  --pink-70: hsl(320 85% 81%);
  --pink-75: hsl(320 88% 86%);
  --pink-80: hsl(320 91% 90%);
  --pink-85: hsl(320 93% 93%);
  --pink-90: hsl(319 94% 96%);
  --pink-95: hsl(319 95% 97%);
  --pink-100: hsl(318 96% 98%);
  /* maroon */
  --maroon:    hsl(346 66% 48%);
  --maroon-hue: 346;
  --maroon-0:  hsl(346 76% 7%);
  --maroon-5:  hsl(346 74% 8%);
  --maroon-10: hsl(346 72% 10%);
  --maroon-15: hsl(346 71% 12%);
  --maroon-20: hsl(346 69% 15%);
  --maroon-25: hsl(346 68% 18%);
  --maroon-30: hsl(346 66% 22%);
  --maroon-35: hsl(346 65% 27%);
  --maroon-40: hsl(346 65% 33%);
  --maroon-45: hsl(346 65% 40%);
  --maroon-50: hsl(346 66% 48%);
  --maroon-55: hsl(346 70% 57%);
  --maroon-60: hsl(346 76% 66%);
  --maroon-65: hsl(346 82% 74%);
  --maroon-70: hsl(346 86% 81%);
  --maroon-75: hsl(346 89% 86%);
  --maroon-80: hsl(346 91% 90%);
  --maroon-85: hsl(346 93% 93%);
  --maroon-90: hsl(346 94% 96%);
  --maroon-95: hsl(346 95% 97%);
  --maroon-100: hsl(346 96% 98%);
}